@font-face {
    font-family: "Oswal";
    src: url(fonts/Oswald/static/Oswald-ExtraLight.ttf);
    format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Oswal";
    src: url(fonts/Oswald/static/Oswald-Regular.ttf);
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Oswal";
    src: url(fonts/Oswald/static/Oswald-Bold.ttf);
    format("truetype");
    font-weight: 700;
}